.card{
    background-color: rgba(8, 117, 241, 0.781);
    width: 400px;
    height: 550px;
}
.container{
    padding:5px 10px;
}

.users,.span,.page,.grid,.footer{
    color: rgb(237, 241, 212);
}

.grid{
padding-top: 20px;
}

.wrap{
    display: grid;
    justify-items:end;
}

.table {
    border-collapse:separate;
    border-spacing: 30px 0;
  }
  


  th, td {
    padding: 8px;
    border-bottom: 1px solid rgb(155, 153, 153);
  }
  